// GENERAL

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter&family=Lato&family=PT+Sans&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Acme', sans-serif;
   font-family: 'Inter', sans-serif;
   font-family: 'Lato', sans-serif;
   font-family: 'PT Sans', sans-serif;
}

img{
   max-width: 100%;
}

